 <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Staatliches" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">
</head>
<body ng-app="printsApp">
  <div class="background_block"><img src="./bck1.png">
  <!-- /***********************************************************************
*  Nav Bar
**********************************************************************/ -->
    <nav class="zone green">
      <ul class = "background"></ul>
        <ul class="main-nav">
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact</a></li>
            <!-- <li class="push"><a href="">Login</a></li> --> 
            <li class="push"> <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button></li>
            <li> <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign Up</button></li>

       
        
     
        </ul>
      </nav>
<!-- /***********************************************************************
*  Nav Bar - end 
**********************************************************************/ -->

        <div class= "front_header">
          Petree's Prints 
        </div>
      </div> 
  



  <div class="container">
    
  <!-- Login Popup -->
  <div id="id01" class="login">

    <form class="modal-content animate">

      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

      <div class="container">
        <label for="email"><b>E-mail</b></label>
        <input type="text" placeholder="E-mail" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw"><a href="#">Forgot password?</a></span>
      </div>
    </form>
  </div>
  
  <!-- Sign Up Popup -->
  <div id="id02" class="signup" ng-controller="UsersController">

    <form class="modal-content animate" action="#">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
      <!--User login information-->
      <div novalidate class="container simple-form">
        <label for="firstName"><b>First Name</b></label>
        <input type="text" ng-model="newUser.first"placeholder="First Name" name="firstName" required>

        <label for="lastName"><b>Last Name</b></label>
        <input type="text" ng-model="newUser.last"placeholder="Last Name" name="lastName" required>

        <label for="email"><b>E-mail</b></label>
        <input type="text" ng-model="newUser.email" placeholder="Enter E-mail" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" ng-model="newUser.password" placeholder="Password" id="psw" required>

        <label for="pswconfirmation"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" id="pswconfirmation" onblur="confirmPassword()" required>

        <label for="address"><b>Street Address</b></label>
        <input type="text" ng-model="newUser.address.street" placeholder="Address" name="address">

        <label for="city"><b>City</b></label>
        <input type="text" ng-model="newUser.address.city" placeholder="City" name="city">

        <label for="state"><b>State</b></label>
        <input type="text" ng-model="newUser.address.state" placeholder="State" name="state">

        <label for="zip"><b>Zip Code</b></label>
        <input type="text" ng-model="newUser.address.zip" placeholder="Zip Code" name="zip">

        <button class="btn btn-primary" ng-click="addUser()">Let's Get Started!</button>
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </form>
  </div>
  
  <!-- Script for the Popups -->
  <script>
        // Gets the two popups
        var login = document.getElementById('id01');
        var signup = document.getElementById('id02');
        // When the user clicks anywhere outside of the popups, close it
        window.onclick = function(event) {
          if (event.target == login) {
            login.style.display = "none";
          }
          if (event.target == signup) {
            signup.style.display ="none";
          }
        }
  </script>

      <!--UI of front page-->
      <h2 align = "center"> Mission Statement</h2>
      <p align = "center"> Insert Mission Statement Here</p>
      <h3 align = "left">More Info</h3>
      <p align = "left"> Placeholder for Information to Add</p>

      <!--PayPal Button Template-->
      <center>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="example@gmail.com">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
      </center>
      <!--End of PayPal-->

      <!--Upload Image-->
      <form>
        <input type="file" name="userImage" accept="image/*">
      </form>
      <!--End of Upload Image-->
      
      <form novalidate class="simple-form">
        <h2>New User</xh2>
        Username: <input type="text" ng-model="newUser.first"/><br />
        Password: <input type="text" ng-model="newUser.password"/><br />
        <button class="btn btn-primary" ng-click="addUser()">Add User</button>
      </form>
      <footer>
        <p align = "center" >Petree's Contact Information</p>
        <p align = "center">Email Address: <a href="mailto:someone@example.com">someone@example.com</a>.
          Phone Number: xxx-xxx-xxxx
        </p>
      </footer>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="https://code.angularjs.org/1.4.3/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/factories/listingFactory.js"></script>
<script src="js/controllers/listingController.js"></script>
</body>