#searchBar {
  margin: 15px 10px;
}

.usercard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  /*padding: 10px 20px;*/
}

.cardhead {
  background-color: #023f05;
}

.userinfo h1 {
    /*font-weight: 700;*/
    padding: 10px 20px;
    font-size: 60px;
    color: white;
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Unica One', cursive;*/ 
   /* max-width: 50%; */
}


.userinfo h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    padding: 0px 30px; 
    color: black; 
}

.userinfo p {
  font-family: 'Oswald', sans-serif;
  font-size: 30px; 
  padding: 0px 30px;
  color: black; 
}

.userinfo img {
  padding-right: 25px;
}

.userinfo input {
  padding-right: 25px;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 30px; 
  color: black; 
}

/*-----------------LAYOUT STARTS-----------------*/
header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}
section {
  padding: 20px 5px;
  float: left;
  width: 50%;
}
aside {
  float: right;
  width: 30%;
}
footer {
  clear: both;
  margin-bottom: 0;
}
/*------------------LAYOUT ENDS-------------------*/

/***********************************************************************
 *  Nav Bar
 **********************************************************************/

.zone {
    /*padding:30px 50px;*/
    /*cursor:pointer;*/
    
    font-size:2em;
    border-radius:4px;
   /* border:1px solid #bbb;    
   position: absolute;*/
    transition: all 0.3s linear;
 
    width: 100%; 
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    background: white; 
   /* opacity: 0.6; */
    color: black; 
}
.zone:hover > .zone a:hover{
  color: black;
}
.zone a:hover{
  color: black; 
}


.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 25px;
    /*background: white; */
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
    padding-right: 25px; 
    background: #f9f9f9; 
}

@media only screen and (max-width: 600px) {
    .main-nav {
       
        font-size: 0.5em;
        padding: 0;
    }
}


.push {
    margin-left: auto;
}

.zone li {
    padding: 16px;
}

.zone a {
    color: black;
    text-decoration: none;
}

.zone button {
   background-color: #347523;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px; 
}

.zone button:hover {
  background-color: #4CAF50;
}


/***********************************************************************
      Nav Bar - end 
 **********************************************************************/

.tableWrapper {
  max-height: 400px;
  overflow: auto;
  background-color: rgb(235, 221, 98);
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



button:hover {
  /*opacity: 0.8;*/
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}





/* Sign Up (background) */
.edituser {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Sign Up Content/Box */
.edituser-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  /*width: 80%; *//* Could be more or less, depending on screen size */
  width: 500px;
}


.edituser-content input{
  width: 198px;
}

.edituser-content input[name=email], input[name=address]{
  width: 400px;
}

.edituser-content input[name=state], input[name=zip]{
  width: 98px;
}

.edituser-content label{
  font-size: 11px;
}

.edituser-content label[for=head]{
  font-size: 20px;
}

.edituser-content label[for=body]{
  font-size: 10px;
}

.edituser-content button[class=start]{
  font-size: 14px;
  width: 406px;
  color: white;
  background-color: #4CAF50;
  padding: 10px 26px;
  border-radius: 4px;
  border: 2px solid white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.edituser-content button[class=start]:hover {
  background-color: #4CAF50; /* Green */
  opacity: 0.6;
  color: white;
}


/* The Close Button (x) */
.closee {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.closee:hover,
.closee:focus {
  color: grey;
  cursor: pointer;
}
