@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

#adminpg {
  borderColor:#FFFFFF;
  background: #FFFFFF;
}



/*------------------NAV BAR STARTS -------------------*/
/* Add a black background color to the top navigation */
.topnav {
  background-color: #0F5DA4;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a.page:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #333;
  color: white;
}

.topnav a.logout {
  background-color: #990000;
  color: white;
}



/*------------------NAV BAR ENDS -------------------*/



/*-----------------HEADER STARTS------------------*/
h1
{
  font-size: calc(2.8em + 2.6vw);
  font-weight: 700;
  letter-spacing: .01em;
  padding: 1rem 0 0 18.5rem;
  text-shadow: .022em .022em .022em #15323D;
  color: #1f4a5a;
}

h2
{
  text-shadow: .022em .022em .022em #15323D;
  color: #1f4a5a;
}


body
{
  font-family: "Roboto", Arial, sans-serif;
  background-color: #e1e1e1;

}
/*-----------------HEADER ENDS------------------*/

/*-----------------LAYOUT STARTS-----------------*/
header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}
section {
  padding: 24px 5px;
  float: left;
  width: 63%;
}
aside {
  float: right;
  width: 30%;
}
footer {
  clear: both;
  margin-bottom: 0;
}
/*------------------LAYOUT ENDS-------------------*/


/*----------------SEARCHBAR STARTS-----------------*/

.searchbar {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
}
/*----------------SEARCHBAR ENDS-------------------*/


.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

/*
button
{
	background-color: #2eb82e;
	color: white;
  width: 80px;
}
*/




/*---------------ORDER DETAILS STARTS-------------*/
.boxed {
  border: 1px solid #0F5DA4;
  padding: 3px 20px;
  background-color: #DCE6FF;
  text-align: left;
}
/*---------------ORDER DETAILS ENDS-------------*/



/*------------------TABLE STARTS-------------------*/
table.adminTable {
  /*
  font-family: "Lucida Console", Monaco, monospace;
  font-family: Verdana, Helvetica, sans-serif;
  */
  font-family: Verdana, Helvetica, sans-serif;
  
  border: 2px solid #0F5DA4;
  background-color: #C7D1E7;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}



table.adminTable td, table.adminTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.adminTable tbody td {
  font-size: 13px;
}


table.adminTable tr:nth-child(even) {
  background: #DCE6FF;
}
table.adminTable thead {
  background: #0F5DA4;
  background: -moz-linear-gradient(top, #4b85bb 0%, #276dad 66%, #0F5DA4 100%);
  background: -webkit-linear-gradient(top, #4b85bb 0%, #276dad 66%, #0F5DA4 100%);
  background: linear-gradient(to bottom, #4b85bb 0%, #276dad 66%, #0F5DA4 100%);
}
table.adminTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #0F5DA4;
}
table.adminTable thead th:first-child {
  border-left: none;
}

table.adminTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #0F5DA4;
  background: -moz-linear-gradient(top, #4b85bb 0%, #276dad 66%, #0F5DA4 100%);
  background: -webkit-linear-gradient(top, #4b85bb 0%, #276dad 66%, #0F5DA4 100%);
  background: linear-gradient(to bottom, #4b85bb 0%, #276dad 66%, #0F5DA4 100%);
}
table.adminTable tfoot td {
  font-size: 13px;
}
table.adminTable tfoot .links {
  text-align: right;
}
table.adminTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #1509A4;
  padding: 2px 8px;
  border-radius: 5px;
}

table.adminTable tr.notfirst:hover {
          background-color: #FFCE69;
        }

/*------------------TABLE ENDS-------------------*/


button {
background-color: #4CAF50;
color: white;
padding: 2px 20px;
border: none;
cursor: pointer;
width: 50%;
font-size: 16px; 
}

button:hover {
opacity: 0.8;
}
