/***********************************************************************
 *  Nav Bar
 **********************************************************************/

.zone {
    /*padding:30px 50px;*/
    /*cursor:pointer;*/
    
    font-size:2em;
    border-radius:4px;
   /* border:1px solid #bbb; */
    transition: all 0.3s linear;
    position: absolute;
    width: 100%; 
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 25px;
    /*background: white; 
    opacity: 0.6; */
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
    padding-right: 25px; 
}

@media only screen and (max-width: 600px) {
    .main-nav {
       
        font-size: 0.5em;
        padding: 0;
    }
}


.push {
    margin-left: auto;
}

li {
    padding: 16px;
}

a {
    color: black;
    text-decoration: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px; 
}

/***********************************************************************
      Nav Bar - end 
 **********************************************************************/

 /* Style the container/contact section */
.container {
  max-width: 50%;
  border-radius: 5px;
  background-color: #ffffff98;
  padding: 10px;
  opacity: 0.95;
}

.contact-form {
  text-align: center;
  margin: 25px 0px;
  padding: 10px;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45A049;
}

#name,
#email,
#subject,
#message {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
}