.clr-fix {
  clear:both;
}

.container {
  margin:auto;
  width:80%;
}

.h2 {
  color: 
}

.row {
  float:left;
  margin:auto;
  border-style: inset;
  border-color: cyan;
  background-color: white;
  height: 275px;
  width: 25%;
  position: relative;
  box-sizing:border-box; 
}