body {
  background-image: url("../images/order2.jpg");
  background-image: url("../images/account3.jpg");
  /*background-size: auto;*/
  /*background-size: contain; */
  /*background-repeat: no-repeat;*/
  background-size: cover;
  /*background-position: center;*/
}

/* -- choose file button -- */
input[type=file] {
font-size: 16px;
color:#666F77;
padding: 14px 150px;
}



/* -- top button -- */
input[type=button]:hover {
  opacity: 0.6;
}

/*
input[type=image] {
   -webkit-filter: invert(1);
   filter: invert(1);
}
*/

input[type=image]:hover {
  opacity: 0.5;
}

/*-------NAVBAR---------*/
.main-nav {
    display: flex;
    /*display: inline;*/
    list-style: none;
    margin: 0;
    font-size: 25px;
    /*background: white; */
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
    padding-right: 25px; 
    background: #e0e1e500; 
}


@media only screen and (max-width: 600px) {
  .main-nav {
     
      font-size: 0.5em;
      padding: 0;
  }
}

.push {
  margin-left: auto;
}



.zone button {
  /*background-color: #245f45;*/
  background-color: #023f05;
  color: white;
  padding: 9px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px; 
  letter-spacing: 2px; 
}

.zone button:hover {
  background-color: #4CAF50;
}

/*
#logo {
  height: 50px;
  width: 90px;
  display: flex;
  padding: 5px 10px;
  margin-left: 0px
}
*/
.zone li{
    padding: 10px 20px;
    /*display: inline;*/
}

.active {
  color: #06700c;
}

.zone {
    font-size:2em;
    border-radius:4px;
    transition: all 0.3s linear;
    position: fixed; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 999;
    top:-17px;
    width: 100%; 
    background: white;
    padding-top: 10px;
}


.zone:hover > .zone a:hover{
  color: black;
}
.zone a:hover{
  color: black; 
}

a {
  color: black;
  text-decoration: none;
  
}

/*--------NAVBAR--------*/

/*-----------------Order Steps Layout-----------------*/
.ordercard {
  -webkit-box-shadow: 0px 0px 122px 7px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 122px 7px rgba(0,0,0,1);
  box-shadow: 0px 0px 122px 7px rgba(0,0,0,1); 
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  width: 600px;
  height: 550px;
  margin: auto;
  text-align: center;
  background-color: #FFFFFF;
  position: relative;
  /*padding: 10px 20px;*/
  
}

.cardhead {
  background-color: #023f05;
  color: white;
}

.cardbody {
  background-color: #FFFFFF;
  max-height: 550px;

}


.orderinfo h1 {
    /*font-weight: 700;*/
    padding: 10px 20px;
    font-size: 30px;
    color: white;
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Unica One', cursive;*/ 
   /* max-width: 50%; */
}

/*---------------Order Steps Layout---------------*/




/*-----------------SIZE LAYOUT-----------------*/
header,
section,
footer {
  margin: 0 1.5% 24px 1.5%;
}
section {
  float: left;
  width: 30%;
}
footer {
  clear: both;
  margin-bottom: 0;
}

/* -- choose size button -- */
input[type=radio] {
font-size: 20px;
color:#666F77;
padding: 14px 150px;
}

/*------------------SIZE LAYOUT-------------------*/

/*------------------POPUP-------------------------*/

/* Popup container */
.popup {
  position: relative;
  color:grey;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -175px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/*-------------------POPUP-------------------------*/





.clr-fix {
  clear:both;
}


.h2 {
  color: grey;
  font-size: 20pt;
}


#size {
  height: 450px;
  display: none;
}


#mediums {
  height: 450px;
  display: none;
}

#mediumSelection {
  font-size: 12px;
  display: flexbox;
}

#paypal {
  display: none;
}


#button1 {
  display: upload;
  /*
  border-radius: 12px;
  color: #023f05;
  font-size: 14px;
  background-color: white;
  */
  -webkit-filter: invert(1);
   filter: invert(1);
}

#button2 {
  display: size;
  /*
  border-radius: 12px;
  color: #023f05;
  font-size: 14px;
  background-color: white;
  */
  -webkit-filter: invert(1);
   filter: invert(1);
}

#button3 {
  display: mediums;
  /*
  border-radius: 12px;
  color: #023f05;
  font-size: 14px;
  background-color: white;
  */
  -webkit-filter: invert(1);
   filter: invert(1);
}

#button4 {
  display: paypal;
  /*
  border-radius: 12px;
  color: #023f05;
  font-size: 14px;
  background-color: white;
  */
  -webkit-filter: invert(1);
   filter: invert(1);
}

#button5 {
  display: upload;
  display: size;
  display: mediums;
  display: paypal;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  background-color:  #4CAF50;
}


.previous {
  background-color: #023f05;
  color: white;
  font-size: 20px;
  padding: 8px 16px;
  left: 0;
  bottom: 0;
  position: absolute;
}

.previous:hover{
  color: white;
  text-decoration: none;
  background-color: #06700c;
}

.next {
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #023f05;
  color: white;
  font-size: 20px;
  padding: 8px 16px;
}

.next:hover{
  color: white;
  text-decoration: none;
  background-color: #06700c;
}

.round {
  border-radius: 50%;
}


.price {
  /*background-color: #023f05;*/
  color: black;
  font-size: 16px;
  padding: 0px 16px;
  right: 0;
  top: 0.1;
  position: absolute;
}

.mediumprice {
  /*background-color: #023f05;*/
  color: black;
  font-size: 14px;
  padding: 8px 16px;
}
