.tableWrapper {
  max-height: 400px;
  overflow: auto;
}

table.orderTable {
  font-family: Verdana, Geneva, sans-serif;
  border: 2px solid #023F05;
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.orderTable td, table.orderTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.orderTable tbody td {
  font-size: 13px;
}
table.orderTable tr:nth-child(even) {
  background: #E2E2E2;
}
table.orderTable thead {
  background: #023F05;
  background: -moz-linear-gradient(top, #035106 0%, #023F05 66%, #023A05 100%);
  background: -webkit-linear-gradient(top, #035106 0%, #023F05 66%, #023A05 100%);
  background: linear-gradient(to bottom, #035106 0%, #023F05 66%, #023A05 100%);
}
table.orderTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #023F05;
}
table.orderTable thead th:first-child {
  border-left: none;
}

table.orderTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
  background: #023F05;
  background: -moz-linear-gradient(top, #035106 0%, #023F05 66%, #023A05 100%);
  background: -webkit-linear-gradient(top, #035106 0%, #023F05 66%, #023A05 100%);
  background: linear-gradient(to bottom, #035106 0%, #023F05 66%, #023A05 100%);
}
table.orderTable tfoot td {
  font-size: 13px;
}
table.orderTable tfoot .links {
  text-align: right;
}
table.orderTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #023F05;
  padding: 2px 8px;
  border-radius: 5px;
}

table.orderTable tr.notfirst:hover {
  background-color: #a8a8a8;
}


/*----------------SEARCHBAR STARTS-----------------*/
#searchBar {
  margin: 5px 0px;
}

.searchbar {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
}
/*----------------SEARCHBAR ENDS-------------------*/


/*----------------DOWNLOAD BUTTON-------------------*/

button {
/*background-color: #347523;*/
background-color: #023F05;
color: white;
padding: 2px 20px;
border: none;
cursor: pointer;
width: 50%;
font-size: 20px; 
}

button:hover {
  background-color: #4d7850;
/*opacity: 0.8;*/
}

/*----------------DOWNLOAD BUTTON-------------------*/

/*-----------------POPUP DROPDOWN-------------------*/
/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/*--------------------POPUP BOX----------------------*/

/* Sign Up (background) */
.editorder {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Sign Up Content/Box */
.editorder-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  /*width: 80%; *//* Could be more or less, depending on screen size */
  width: 500px;
}

.editorder-content select{
  height: 40px;
  font-size: 16px;
  width: 198px;
  background-color: white;
}

.editorder-content select:hover{
  border-color: #888;
  border: 1px solid black;
}

.editorder-content input{
  width: 198px;
}

/*
.editorder-content input[type=text]{
  font-size: 16px;
}
*/
.editorder-content input[name=created_at]{
  font-size: 12px;
  width: 198px;
}

.editorder-content input[name=address]{
  width: 400px;
}

.editorder-content input[name=state], input[name=zip]{
  width: 98px;
}

.editorder-content label{
  font-size: 11px;
}

.editorder-content label[for=head]{
  font-size: 20px;
}

.editorder-content label[for=body]{
  font-size: 10px;
}

.editorder-content button[class=confirm]{
  font-size: 14px;
  width: 406px;
  color: white;
  /*background-color: #4CAF50;*/
  background-color: #023F05;
  padding: 10px 26px;
  border-radius: 4px;
  border: 2px solid white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.editorder-content button[class=confirm]:hover {
  background-color: #4CAF50; /* Green */
  /*opacity: 0.6;*/
  color: white;
}


/* The Close Button (x) */
.closee {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

.closee:hover,
.closee:focus {
  color: grey;
  cursor: pointer;
}


/* NEW CLOSE BUTTON (also a reset button to reset changed text if cancelled) */
.closee input{
  width: 80%;
  background: transparent;
  border: none;
  font-size: 25px;
}


/*--------------------POPUP BOX----------------------*/